.quote-content {
	padding: 1em;
}

.quote-text {
	font-size: 1em;
	font-style: italic;
	border-left: 3px solid var(--text-accent);
	padding-left: 1em;
	margin-bottom: 0.5em;
}

.quote-author {
	text-align: right;
	font-weight: thin;
	color: var(--text-on-accent);
}
